fastapi>=0.115.0
websockets>=13.0
requests>=2.32.0
pydantic>=2.9.0
cryptography>=43.0.0
numpy>=1.26.0
msgpack>=1.0.8
PyQt6>=6.7.0
babel>=2.16.0
darkdetect>=0.8.0
openvr>=1.26.7
panda3d>=1.10.14
PyOpenGL>=3.1.7
PyOpenGL-accelerate>=3.1.7
moderngl>=5.8.2
pyrr>=0.10.3
pyinstaller>=6.1.0